---
layout: default
title: Home
---

<div class="grid mb-2">
  <section class="grid-col grid-col-4 about">
    <div class="banner mb-1">
      <h2 class="banner-message">May there be goodness for all.</h2>
    </div>

    <div class="mb-1">
      <img alt="Profile" class="avatar avatar-small d-block mb-1" src="assets/images/profile.jpg" />
      <p class="grey lh-solid mb-1 text-h4 text-italic">Designer and aspiring Ruby developer</p>
      <p class="lh-copy text-h5">My name is Joshua and I&rsquo;m a designer with a passion for uncovering what
        matters most to people and bringing it to life through both digital and print. I thrive at the intersection of
        design and engineering—moving fluidly from the visionary process of how something should look and feel to the
        technical discipline required to build it. I run an independent studio called <a class="black"
          href="https://firstpulsestudio.com/">First Pulse</a> full-time. When not designing, I&rsquo;m most likely <a
          class="black" href="https://samvidmusic.com/">writing and producing music</a> or walking and observing nature.
      </p>
    </div>

    <ul class="social-link list-reset">
      <li>
        <a class="align-items-center d-inline-flex text-plain" href="https://github.com/joshuawenning">
          <svg class="social-link-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
          </svg>
          GitHub
        </a>
      </li>
      <li>
        <a class="align-items-center d-inline-flex text-plain" href="https://www.linkedin.com/in/joshuawenning/">
          <svg class="social-link-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" />
          </svg>
          LinkedIn
        </a>
      </li>
      <li>
        <a class="align-items-center d-inline-flex text-plain" href="https://x.com/joshuawenning">
          <svg class="social-link-icon" fill="none" viewBox="0 0 1200 1227" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M714.163 519.284 1160.89 0h-105.86L667.137 450.887 357.328 0H0l468.492 681.821L0 1226.37h105.866l409.625-476.152 327.181 476.152H1200L714.137 519.284h.026ZM569.165 687.828l-47.468-67.894-377.686-540.24h162.604l304.797 435.991 47.468 67.894 396.2 566.721H892.476L569.165 687.854v-.026Z" />
          </svg>
          X
        </a>
      </li>
    </ul>
  </section>

  <section class="grid-col grid-col-6">
    <h2 class="lh-solid text-h2">Work</h2>
    <p class="grey mb-1 text-h4 text-italic">Currently building</p>

    <div class="exposed-link mb-1">
      <a href="https://firstpulsestudio.com/">
        <h3>First Pulse</h3>
        <p class="grey text-italic">Graphic and web design studio</p>
        <span class="exposed-link-url text-h6">
          firstpulsestudio.com &nearr;
        </span>
      </a>
    </div>

    <div class="exposed-link mb-2">
      <a href="https://github.com/joshuawenning/jekyll-up">
        <h3>Jekyll Up</h3>
        <p class="grey text-italic">Minimal Jekyll site scaffold</p>
        <span class="exposed-link-url text-h6">
          github.com &nearr;
        </span>
      </a>
    </div>

    <div>
      <h2 class="text-h2">
        <a class="black" href="/blog">Blog{% include arrow.html %}</a>
      </h2>
      <p class="grey mb-1 text-h4 text-italic">Thoughts, design explorations, and technical write-ups</p>

      <ul class="list-reset">
        {% for post in site.posts limit:4 %}
        <li class="lh-solid mb-1 text-h4">
          <a class="text-bold" href="{{ post.url }}">{{ post.title }}</a><br>
          <time class="grey text-h6 text-tracked text-uppercase">{{ post.date | date: "%B %d, %Y" }}</time>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>

{% comment %}
<div class="grid mb-2">
  <section class="grid-col">
    <h3 class="text-h2">Selected Cases</h3>
    <p class="text-h4 mb-1 text-italic">Highlights of recent work for some of my favorite people</p>

    <div class="d-flex case-group">
      <a class="case" href="#">
        <img alt="" src="https://placehold.co/600x600">
        <h4 class="black text-h5 text-normal">Community Foundation of Greater Fort Wayne</h4>
      </a>
      <a class="case" href="#">
        <img alt="" src="https://placehold.co/600x600">
        <h4 class="black text-h5 text-normal">Mariah Knight</h4>
      </a>
      <a class="case" href="#">
        <img alt="" src="https://placehold.co/600x600">
        <h4 class="black text-h5 text-normal">Sweetwater</h4>
      </a>
    </div>
  </section>
</div>
{% endcomment %}

<div class="grid mb-2">
  <section class="grid-col">
    <h3 class="text-h2">
      <a class="black" href="/library">Photography{% include arrow.html %}</a>
    </h3>
    <p class="grey mb-1 text-h4 text-italic">Latest clicks of the everyday sacred</p>

    {% assign photos = site.static_files | where_exp: "file", "file.path contains '/assets/images/photos/'" %}

    <div class="d-flex gallery">
      {% for photo in photos limit:3 %}
      <div class="gallery-img">
        <img alt="" class="d-block br-1 js-thumb" data-full="{{ photo.path | relative_url }}" src="{{ photo.path | relative_url }}">
      </div>
      {% endfor %}
    </div>

    <div class="lightbox" id="lightbox">
      <div class="lightbox-icon">
        <svg clip-rule="evenodd" fill-rule="evenodd" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/>
        </svg>
      </div>
      <img alt="" src="" class="lightbox-img br-1" id="lightbox-img">
    </div>
  </section>
</div>

<div class="grid mb-2">
  <section class="grid-col">
    <h3 class="text-h2">
      <a class="black" href="/library">Library{% include arrow.html %}</a>
    </h3>
    <p class="grey mb-1 text-h4 text-italic">Growing collection of books that I&rsquo;ve read and love, or am currently reading</p>

    <div>
      <ul class="book-collection list-reset d-flex">
        {% for book in site.data.library limit:4 %}
        <li class="exposed-link relative">
          <a class="black text-bold text-plain" href="{{ book.url }}">

            <div class="read-badge br-1 font-secondary grey text-h6 text-normal">
              {% if book.read %}
              <span style="color: #afe1af;">&bull;</span> Read
              {% else %}
              <span style="color: #e4D00a;">&bull;</span> Reading
              {% endif %}
            </div>

            <img alt="{{ book.title }}" class="br-1" src="{{ book.img }}">

            <h4 class="text-h4">{{ book.title }}</h4>
            <h4 class="grey text-h5 text-normal">{{ book.author }}</h4>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</div>
