<header class="masthead d-flex mb-2 text-h5">
  <h1 class="masthead-title text-h6">
    <a class="black font-secondary text-normal" href="/">@joshuawenning</a>
  </h1>

  <nav class="nav">
    <ul class="list-reset">
      {% assign url = page.url | remove: ".html" %}
      {% for nav in site.data.navigation %}
      <li class="nav-link {% if nav.url == url %} is-active {% endif %}">
          <a href="{{ nav.url }}">{{ nav.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
