* {
  box-sizing: border-box;
  margin: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--grey-light);
  color: var(--black);
  font-family: var(--font-family-primary);
  line-height: 1.25;
}

img {
  max-width: 100%;
}

hr {
  background-color: var(--white);
  border: 0;
  height: .125rem;
  margin: 2rem auto;
  width: 100px;
}

a {
  color: var(--ruby);
  text-decoration: underline;
  text-decoration-color: var(--grey);
  text-decoration-style: dotted;
  text-underline-offset: .25rem;
  transition: all .25s ease-in-out;

  &:hover {
    text-decoration-color: var(--ruby);
  }
}

.list {
  list-style-type: "—";
  padding-left: 1rem;

  li {
    margin-bottom: .25rem;
    padding-inline-start: 1rem;
  }
}

@mixin grid-lg {
  .grid {
    display: flex;
  }

  .grid-col-4 {
    width: 40%;
  }

  .grid-col-6 {
    width: 60%;
  }
}

.grid-col {
  padding-left: 1rem;
  padding-right: 1rem;
}

.avatar {
  border-radius: 50%;
}

.avatar-small {
  max-width: 128px;
}

.masthead {
  align-items: baseline;
  border-bottom: .125rem solid var(--white);
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;

  a {
    text-decoration: none;
  }
}

.nav {
  li {
    display: inline-block;
    padding-left: .5rem;
  }
}

@mixin nav-lg {
  .nav {
    li {
      display: inline-block;
      padding-left: 1rem;
    }
  }
}

.nav-link {
  a {
    color: var(--grey);

    &:hover {
      color: var(--black);
    }
  }

  &.is-active {
    a {
      color: var(--black);
      font-weight: bold;
    }
  }
}

.exposed-link {
  a {
    text-decoration: none;

    &:hover {
      opacity: .5;
    }
  }
}

.exposed-link-url {
  color: var(--grey);
  font-family: var(--font-family-secondary);
}

.banner-message {
  font-size: var(--text-h1);
  font-style: italic;
  font-weight: 400;
  line-height: 1;
}

.social-link {
  display: flex;
  width: 12rem;

  li {
    margin-right: 1.25rem;
    width: 50%;

    a {
      &:hover {
        opacity: .5;
      }
    }
  }
}

.social-link-icon {
  fill: var(--grey);
  height: 1em;
  margin-right: .25rem;
  width: 1em;
}

.about {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .about {
    margin-bottom: 0;
  }
}

.post {
  padding-left: 1rem;
  padding-right: 1rem;

  code {
    font-size: var(--text-h6);
  }

  img {
    border-radius: .5em;
  }

  ol,
  p {
    font-size: 1.25rem;
  }

  p {
    &:not(:first-child) {
      text-indent: 1rem;
    }
  }
}

.post-body,
.text-body {

  blockquote,
  div,
  figure,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin-bottom: 1rem;
  }
}

.highlight {
  border-radius: .25rem;
  padding: .5rem;
  overflow-x: scroll;
}

.footer {
  border-top: .125rem solid var(--white);
  padding: 1rem;

  p {
    margin-bottom: .5rem;
  }
}

@media (min-width: 540px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}

//
// Book Collection
//

.book-collection {
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    flex-grow: 1;
    margin-bottom: 1rem;
    width: calc(50% - 1.25rem);

    &:nth-child(odd) {
      margin-right: 1.25rem;
    }
  }
}

@media (min-width: 540px) {
  .book-collection {

    li {
      margin-right: 1.25rem;
      width: calc(25% - 1.25rem);

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.read-badge {
  background-color: rgba(255, 255, 255, .95);
  border: 1px solid var(--grey-light);
  padding: .125rem .25rem;
  position: absolute;
  right: -.5rem;
  top: -.5rem;
}

.arrow {
  height: 24px;
  margin-left: .5rem;
  vertical-align: middle;
  width: 24px;
}

.case-group {
  margin-left: -.5rem;
  margin-right: -.5rem;
}

.case {
  padding: .5rem;

  img {
    border: 1px solid var(--grey);
  }
}
