@font-face {
  font-display: swap;
  font-family: 'Ioskeley Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/IoskeleyMono-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Ioskeley Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/IoskeleyMono-Italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Ioskeley Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/IoskeleyMono-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Ioskeley Mono';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/IoskeleyMono-BoldItalic.woff2') format('woff2');
}

:root {
  --font-family-primary: 'Crimson Text', serif;
  --font-family-secondary: 'Ioskeley Mono', monospace;

  // Type Scale

  --text-h1: 3rem;
  --text-h2: 2.5rem;
  --text-h3: 2rem;
  --text-h4: 1.5rem;
  --text-h5: 1rem;
  --text-h6: .875rem;

  // Color

  --black: #28201e;
  --grey: #6f6967;
  --grey-light: #f0f0f0;
  --ruby: #990000;
  --white: #fff;
}